<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :perferedname %>
    <%= form.text_field :perferedname %>
  </div>

  <div class="field">
    <%= form.label :dateofbirth %>
    <%= form.date_select :dateofbirth %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :personalemail %>
    <%= form.text_field :personalemail %>
  </div>

  <div class="field">
    <%= form.label :workemail %>
    <%= form.text_field :workemail %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.text_field :mobile %>
  </div>

  <div class="field">
    <%= form.label :homephone %>
    <%= form.text_field :homephone %>
  </div>

  <div class="field">
    <%= form.label :workphone %>
    <%= form.text_field :workphone %>
  </div>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :postcode %>
    <%= form.text_field :postcode %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <%= form.label :office %>
    <%= form.text_field :office %>
  </div>

  <div class="field">
    <%= form.label :reportsto %>
    <%= form.text_field :reportsto %>
  </div>

  <div class="field">
    <%= form.label :positiontitle %>
    <%= form.text_field :positiontitle %>
  </div>

  <div class="field">
    <%= form.label :startdate %>
    <%= form.date_select :startdate %>
  </div>

  <div class="field">
    <%= form.label :finsihdate %>
    <%= form.date_select :finsihdate %>
  </div>

  <div class="field">
    <%= form.label :customtext1 %>
    <%= form.text_field :customtext1 %>
  </div>

  <div class="field">
    <%= form.label :customtext2 %>
    <%= form.text_field :customtext2 %>
  </div>

  <div class="field">
    <%= form.label :customtext3 %>
    <%= form.text_field :customtext3 %>
  </div>

  <div class="field">
    <%= form.label :customtext4 %>
    <%= form.text_field :customtext4 %>
  </div>

  <div class="field">
    <%= form.label :customtext5 %>
    <%= form.text_field :customtext5 %>
  </div>

  <div class="field">
    <%= form.label :customtext6 %>
    <%= form.text_field :customtext6 %>
  </div>

  <div class="field">
    <%= form.label :customtext7 %>
    <%= form.text_field :customtext7 %>
  </div>

  <div class="field">
    <%= form.label :customtext8 %>
    <%= form.text_field :customtext8 %>
  </div>

  <div class="field">
    <%= form.label :customtext9 %>
    <%= form.text_field :customtext9 %>
  </div>

  <div class="field">
    <%= form.label :customtext10 %>
    <%= form.text_field :customtext10 %>
  </div>

  <div class="field">
    <%= form.label :customtext11 %>
    <%= form.text_field :customtext11 %>
  </div>

  <div class="field">
    <%= form.label :customtext12 %>
    <%= form.text_field :customtext12 %>
  </div>

  <div class="field">
    <%= form.label :customdate1 %>
    <%= form.date_select :customdate1 %>
  </div>

  <div class="field">
    <%= form.label :customdate2 %>
    <%= form.date_select :customdate2 %>
  </div>

  <div class="field">
    <%= form.label :customdate3 %>
    <%= form.date_select :customdate3 %>
  </div>

  <div class="field">
    <%= form.label :customdate4 %>
    <%= form.date_select :customdate4 %>
  </div>

  <div class="field">
    <%= form.label :customdate5 %>
    <%= form.date_select :customdate5 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
