<div class="container">
<div class="row">
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @person.user %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @person.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
</p>

<p>
  <strong>Personalemail:</strong>
  <%= @person.personalemail %>
</p>

<p>
  <strong>Workemail:</strong>
  <%= @person.workemail %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @person.mobile %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @person.homephone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @person.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @person.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @person.postcode %>
</p>



<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @person.dateofbirth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Department:</strong>
  <%= @person.department %>
</p>

<p>
  <strong>Office:</strong>
  <%= @person.office %>
</p>

<p>
  <strong>Reports:</strong>
  <%= @person.reports %>
</p>

<p>
  <strong>Position:</strong>
  <%= @person.position %>
</p>

<p>
  <strong>Title:</strong>
  <%= @person.title %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
