
  <div class='container'>  
Profile Page


 <p>
    <strong>Id:</strong>
    <%= @person.id %>
  </p>
<p>
  <strong>First name:</strong>
<%= @person.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @person.lastname %>
  </p>

<p>
  <strong>Perfered name:</strong>
  <%= @person.perferedname %>
 
  
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @person.dateofbirth %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @person.gender %>
</p>

<p>
  <strong>Personalemail:</strong>
  <%= @person.personalemail %>
</p>

<p>
  <strong>Workemail:</strong>
  <%= @person.workemail %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @person.mobile %>
</p>

<p>
  <strong>Homephone:</strong>
  <%= @person.homephone %>
</p>

<p>
  <strong>Workphone:</strong>
  <%= @person.workphone %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @person.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @person.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @person.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @person.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @person.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @person.country %>
</p>

<p>
  <strong>Department:</strong>
  <%= @person.department %>
</p>

<p>
  <strong>Office:</strong>
  <%= @person.office %>
</p>

<p>
  <strong>Reportsto:</strong>
  <%= @person.reportsto %>
</p>

<p>
  <strong>Positiontitle:</strong>
  <%= @person.positiontitle %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @person.startdate %>
</p>

<p>
  <strong>Finsihdate:</strong>
  <%= @person.finsihdate %>
</p>

<p>
  <strong>Customtext1:</strong>
  <%= @person.customtext1 %>
</p>

<p>
  <strong>Customtext2:</strong>
  <%= @person.customtext2 %>
</p>

<p>
  <strong>Customtext3:</strong>
  <%= @person.customtext3 %>
</p>

<p>
  <strong>Customtext4:</strong>
  <%= @person.customtext4 %>
</p>

<p>
  <strong>Customtext5:</strong>
  <%= @person.customtext5 %>
</p>

<p>
  <strong>Customtext6:</strong>
  <%= @person.customtext6 %>
</p>

<p>
  <strong>Customtext7:</strong>
  <%= @person.customtext7 %>
</p>

<p>
  <strong>Customtext8:</strong>
  <%= @person.customtext8 %>
</p>

<p>
  <strong>Customtext9:</strong>
  <%= @person.customtext9 %>
</p>

<p>
  <strong>Customtext10:</strong>
  <%= @person.customtext10 %>
</p>

<p>
  <strong>Customtext11:</strong>
  <%= @person.customtext11 %>
</p>

<p>
  <strong>Customtext12:</strong>
  <%= @person.customtext12 %>
</p>

<p>
  <strong>Customdate1:</strong>
  <%= @person.customdate1 %>
</p>

<p>
  <strong>Customdate2:</strong>
  <%= @person.customdate2 %>
</p>

<p>
  <strong>Customdate3:</strong>
  <%= @person.customdate3 %>
</p>

<p>
  <strong>Customdate4:</strong>
  <%= @person.customdate4 %>
</p>

<p>
  <strong>Customdate5:</strong>
  <%= @person.customdate5 %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
